/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link[href^="#"]:has(:target) {
    color: #111827; /* dark:text-gray-950 */
    font-weight: 600;
}

/* This is the gradient indicator */
li:has(> a.nav-link[href^="#"]:has(:target)) {
    background-color: #f3f4f6; /* bg-gray-100 */
    border-radius: 9999px; /* rounded-full */
    z-index: -10;
}

/* Dark mode styles */
.dark .nav-link[href^="#"]:has(:target) {
    color: #f9fafb; /* dark:text-gray-200 */
}

.dark li:has(> a.nav-link[href^="#"]:has(:target)) {
    background-color: #374151; /* dark:bg-gray-700 */
}